* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.board {
  height: 420px;
  width: 490px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.square {
  position: relative;
  height: 70px;
  width: 70px;
  border: 1px solid black;

  display: grid;
  place-items: center;
}
.square:before {
  content: "";
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

.square.red:before {
  background: radial-gradient(circle at 70px 70px, red, #333);
}
.square.yellow:before {
  background: radial-gradient(circle at 70px 70px, yellow, #333);
}
